/* Estilização global */
* {
  font-size: var(--font-size-medium);
  box-sizing: border-box;
  transition: 0.6s;
}

/* Variaveis globais */
:root {
  /* Tamanhos */
  --font-size-small: 0.75rem; /* Tamanho de fonte pequeno */
  --font-size-medium: 1rem; /* Tamanho de fonte médio */
  --font-size-large: 1.5rem; /* Tamanho de fonte grande */
  --font-size-xlarge: 1.75rem; /* Tamanho de fonte extra grande */

  /* Espaçamentos */
  --padding-small: 0.5rem; /* Padding pequeno */
  --padding-medium: 0.75rem; /* Padding médio */
  --padding-large: 1rem; /* Padding grande */
  --margin-small: 0.5rem; /* Margin pequeno */
  --margin-medium: 1rem; /* Margin médio */
  --margin-large: 2rem; /* Margin grande */

  /* Bordas */
  --border-radius-small: 0.5rem; /* Raio de borda pequeno */
  --border-radius-medium: 1rem; /* Raio de borda médio */
  --border-width: 0.5px; /* Largura da borda */
}
/* Variáveis de estilo - Tema claro */
[data-theme="light"] {
  /* Cores */
  --bg-color: #dedfe0;
  --border-color: #ccc;
  --text-color: #000;
  --font-color: #212529;

  --header-bg-color: #ffffff;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --hover-text-color: #000000;
  --toggle-theme-icon: #007bff;

  --details-background-color: #e2e1e1;
  --code-background-color: #cfcdcd;
  --code-border-color: #929090;
  --code-color: #007bff;
  --strong-code-color: #007bff;

  --thead-background-color: #dedfe0;
  --tbody-background-color: #cfcdcd;
  --table-font-color: #212529;
  --border-table-color: #575656a1;

  --footer-bg-color: #ffffff;
  --footer-text-color: #212529;
  --footer-link-color: #007bff;
  --footer-link-hover-color: #0056b3;
}
/* Variáveis de estilo - Tema escuro */
[data-theme="dark"] {
  /* Cores */
  --bg-color: #212529;
  --border-color: #666;
  --text-color: #000;
  --font-color: #f1f5f9;

  --header-bg-color: #333;
  --button-bg-color: #00ff00;
  --button-hover-bg-color: #333;
  --hover-text-color: #fff;
  --toggle-theme-icon: #ffd700;

  --details-background-color: rgb(46, 46, 46);
  --code-background-color: #282c34;
  --code-border-color: #3e4451;
  --code-color: #00ff00;
  --strong-code-color: #00ff00;

  --thead-background-color: #212529;
  --tbody-background-color: #282c34;
  --table-font-color: #f1f5f9;
  --border-table-color: #1a1818bb;

  --footer-bg-color: #333;
  --footer-text-color: #f1f5f9;
  --footer-link-color: #00ff00;
  --footer-link-hover-color: #ffffff;
}

/* estilização do body */
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}

/* estilização do header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--margin-small);

  padding: var(--padding-large);
  background-color: var(--header-bg-color);
}

/* estilização do header - nav */
.nav_pages {
  margin: var(--margin-small);
  padding: var(--padding-small) var(--padding-medium);

  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: var(--text-color);

  background-color: var(--button-bg-color);
  border: solid var(--border-width) var(--button-bg-color);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
.toggle_Theme:hover,
.nav_pages:hover {
  background-color: var(--header-bg-color);
  color: var(--hover-text-color);
  border: solid var(--border-width) var(--button-bg-color);
}

/* estilização do header - h1 */
h1 {
  color: var(--button-bg-color);
  text-align: center;
  margin: var(--margin-small);
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-xlarge);
}

/* estilizando o toggle-Thema */
.toggle_Theme {
  margin: var(--margin-small);
  padding: var(--padding-small) var(--padding-medium);
}
.toggle_Theme:hover {
  color: var(--toggle-theme-icon);
}
.icon_Theme {
  font-size: var(--font-size-large);
}

/* estilização da main */
main {
  max-width: 100%;
  width: 90%;
  margin: var(--margin-large) auto;
  padding: var(--padding-large);
}

/* estilização do fieldset */
fieldset {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  color: var(--font-color);
  padding: var(--padding-medium);
  margin-bottom: 20px;
  gap: var(--margin-small);
}

/* estilização do fieldset - legend */
h3,
legend {
  color: var(--button-bg-color);
  text-align: center;
  padding: var(--padding-small);
  font-size: var(--font-size-large);
  font-weight: 700;
}
h4 {
  color: var(--button-bg-color);
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-medium);
}


/* Estilizando lista de resposta */
details {
  background-color: var(--details-background-color);
  border: 1px solid var(--code-border-color);
  border-radius: 5px;
  padding: .6rem;
  display: flex;
  flex-direction: column;
}
.div_details {
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}
summary {
  color: var(--code-color);
  margin: 0.5rem;
}
summary::marker {
  content: "📕 ";
  float: left;
  font-weight: bold;
  padding: 0;
  text-align: center;
  font-size: large;
}
details[open] summary::marker {
  content: "📖 ";
}

/* Estilizando as listas */
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
.div_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.div_list {
  width: 50%;
}
.list_check {
  list-style-type: "✔ ";
}
ol,
ul {
  margin: 0.6rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Estilização da modal */

/* estilização da tabela */
.fieldset_table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_table {
  width: fit-content;
  max-width: 100%;

  border-radius: 10px;
  margin: var(--margin-medium) 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background-color);
  overflow: hidden; /* Garante que as bordas arredondadas funcionem */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
  border: 2px solid var(--border-table-color); /* Usa a cor da borda das variáveis */
  border-radius: 10px;
  table-layout: auto;
}
thead {
  background-color: var(--thead-background-color);
}
th,
td {
  padding: var(--padding-medium) var(--padding-large);
  text-align: left;
  border: 2px solid var(--border-table-color); /* Usa a cor da borda das variáveis */
  color: var(--table-font-color);
}
th {
  font-weight: bold;
  color: var(--table-font-color);
}
tbody tr:nth-child(even) {
  background-color: var(
    --tbody-background-color
  ); /* Linhas pares com fundo levemente diferente */
}

/* Estilizando a citação */
.quote_container {
  width: 100%;
  padding: 16px;
  background-color: var(--details-background-color);
  border-left: 4px solid var(--border-color);
  border-radius: 8px;
}
.quote {
  width: 100%;
  min-height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: var(--font-color);
}
.quote::placeholder {
  color: var(--font-color);
  opacity: 0.6;
}

/* estilização do fieldset - .code */
.code {
  background-color: var(--code-background-color);
  border-radius: 5px;
  padding: 12px;
  overflow-x: auto;
  border: 1px solid var(--code-border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contêiner do bloco de código */
.code_container {
  width: 100%;
  background-color: var(--details-background-color, #333);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cabeçalho */
.code_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
}

/* Título */
.code_title {
  font-size: 14px;
  color: #ccc;
}

/* Botões */
.code_actions button {
  background: none;
  border: transparent solid 1px;
  color: #bbb;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.code_actions button:hover {
  color: white;
}

/* Bloco de código */
.code_block {
  background-color: var(--code-background-color, #282c34);
  color: var(--code-color, #00ff00);
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  white-space: pre-wrap;
  border-radius: 0 0 8px 8px;
}
/* estilização do fieldset - pre & code */
/* pre, */
code {
  font-family: "Fira Code", monospace;
  color: var(--button-bg-color);
  border-radius: 5px;
  background-color: var(--code-background-color);
  padding: 0.2rem;
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.6;
}
.code pre,
pre code {
  padding: 0;
}
tbody tr:nth-child(even) {
  code {
    background-color: var(
      --header-bg-color
    ); /* Linhas pares com fundo levemente diferente */
  }
}

strong {
  color: var(--strong-code-color);
}

/* ================== */
/* estilização dos formulario */
form {
  display: flex;
  flex-direction: column;
  gap: var(--margin-medium);
}
/* estilização dos div inputs */
.inputs {
  display: flex;
  margin: var(--margin-medium) 0;
  gap: 1rem;
  align-items: center;
}
.buttons-ex22 {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs-ex22 {
  width: 100%;
  margin: 0;
}
/* estilização do fieldset - input */
input,
select {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-small);
  color: var(--font-color);
  display: block;
  font-size: var(--font-size-small);
  padding: var(--padding-medium);
  text-align: end;
  width: 100%;
}
input:hover,
select:hover {
  border: 2px solid var(--button-bg-color);
}
/* estilização do fieldset - operadores */
select {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 4rem;
}
select:hover {
  border: 2px solid var(--button-bg-color);
}
/* estilização do fieldset - input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
}
.labelInput_input {
  display: flex;
  max-width: 100%;
}
label {
  display: block;
}
/* Estilizando o span */
.content_input-span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.span_error {
  color: #f64348;
  font-size: 0.75rem;
  display: none;
  /* display: block; */
}
/* estilizando o input type=senha */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.password-container input {
  padding-right: 40px; /* Garante espaço para o ícone */
}
.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none; /* Evita seleção acidental do ícone */
}

/* estilização do fieldset - button */
button {
  text-align: center;
  font-weight: 700;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: solid var(--border-width) var(--button-bg-color);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
button:hover {
  background-color: var(--header-bg-color);
  color: var(--hover-text-color);
  border: solid var(--border-width) var(--button-bg-color);
}

/* estilização do fieldset - .calc_button */
.calc_button {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-small);
  color: var(--font-color);
  display: block;
  font-size: var(--font-size-small);
  margin: var(--margin-small);
  padding: var(--padding-medium);
  text-align: end;
  width: 100%;
}
.calc_button {
  text-align: center;
  font-weight: 700;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: solid var(--border-width) var(--button-bg-color);
  cursor: pointer;
  border-radius: var(--border-radius-small);
}
.calc_button:hover {
  background-color: var(--header-bg-color);
  color: var(--hover-text-color);
  border: solid var(--border-width) var(--button-bg-color);
}

/* estilização do footer */
footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: var(
    --padding-large
  ); /* Você pode definir essa variável se necessário */
  margin-top: var(
    --margin-large
  ); /* Você pode definir essa variável se necessário */
}
footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--footer-link-hover-color);
  text-decoration: underline;
}
